[device]
id = roland-gokeys
enabled = yes
address = CB:81:F4:62:FF:07
name = Roland GO KEYS
profile = roland_gokeys
connect_on_start = yes
alsa_port_name = Roland GO KEYS BLE-MIDI

[policy]
pair = no
trust = yes
reconnect_on_link_loss = yes

[midi]
enable_tx = yes
