[device]
id = standard-ble-midi
enabled = yes
address = 11:22:33:44:55:66
name = BLE-MIDI
profile = standard_ble_midi
connect_on_start = no
alsa_port_name = Standard BLE-MIDI Device

[policy]
pair = no
trust = yes
reconnect_on_link_loss = yes

[midi]
enable_tx = yes
