[device]
id = generic-example
enabled = no
address =
name = Generic MIDI Device
profile = standard_ble_midi
connect_on_start = no
alsa_port_name = Generic MIDI Device

[policy]
pair = no
trust = yes
reconnect_on_link_loss = yes

[midi]
enable_tx = yes
